{% if not instance.quadlet_default_dependencies %}
[Quadlet]
DefaultDependencies=false

{% endif %}
[Unit]
Description=OpenClaw runtime state volume {{ instance.name }}

[Volume]
VolumeName={{ instance.container_name }}-state
Driver=local
Options=type=none
Options=o=bind
Options=device={{ instance.workspace_path }}/.openclaw

[Install]
WantedBy=default.target
