{% if not instance.quadlet_default_dependencies %}
[Quadlet]
DefaultDependencies=false

{% endif %}
[Unit]
Description=OpenClaw network {{ instance.name }}

[Network]
NetworkName={{ instance.container_name }}

[Install]
WantedBy=default.target
